{%extends "plantilla_base.html"%}

{%block title%} Holamundo {%endblock%}
{%block content%} 

<h2>Creación de un nuevo proyecto en Django</h2>
<p>Para crear un nuevo proyecto en Django en Windows se debe ejecutar la siguiente linea de comando en un terminal, siendo Nombre_Proyecto, el nombre con el que queremos crear nuestro proyecto.</p>
<div class="code"> 
<pre>
    <span class="code">django-admin startproject Nombre_Proyecto</span>
</pre>
</div>
<p>Una vez creado el nuevo proyecto se creara el nuevo directorio de carpetas con el proyecto creado.</p>

<div class="code"> 
    <pre>
        <code>
            Nombre_Proyecto
            ├── Nombre_Proyecto
            ├── db.sqlite3
            └── manage.py
        </code>
    </pre>
</div>

<p>Dentro de la subcarpeta de Nombre_proyecto tendremos una serie de ficheros .py que harán funcionar las vistas de nuestro proyecto, si al crear este no existe un view.py se debe crear para que este quede de la siguiente disposición.</p>

<div class="code"> 
    <pre>
        <code>
            Nombre_Proyecto
            ├── Nombre_Proyecto
            |   ├── settings.py
            |   ├── urls.py
            |   └── views.py
            ├── db.sqlite3
            └── manage.py</code>
    </pre>
</div>

<p>Si deseamos ejecutar nuestro proyecto para generar nuestro primer Hola Mundo, tan solo deberemos ejecutar el siguiente comando, estando localizados en el directorio raíz del proyecto.</p>
<div class="code"> 
<pre>
    <span class="code">python manage.py runserver</span>
</pre>
</div>






{%endblock%}